.b{
	font-size: 25px;
	padding-top: 15px;
}
#box2{ background-color: ;
	margin-left: 20px;
	width: 700px;
	margin-bottom: 20px;
	padding-top: 30px;
	float: left;


}
#box3{
	float:left;
	columns: 
}
#box1{
	background-color:#9999;

}
.n{
	background-color: #eeff33;
}
.m{
	background-color: #9999
}